<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8" />
        <title>郵便番号API
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <%- include('./partials/head'); %>
            <div class="card m-3">
                <h1 class="card-title">
                    <%= response.body.result.address1 %>
                </h1>
                <div class="card-body">
                    <p>
                        <%= response.body.result.address2 %>
                    </p>
                    <p>
                        <%= response.body.result.address3 %>
                    </p>
                    <p>
                        <%= response.body.result.zipcode %>
                    </p>
                </div>
            </div>
    </body>

</html>